*{

padding: 0;
margin: 0;
}

html,body{

    width: 100%;
    height: 100%;
    font-family: "Gilroy";
   

}

#main{

    width: 100%;
    height: 100%;
    /* background-color: rgb(251, 246, 246); */
    background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#login{


    width: 40%;
    height: 90%;
    /* background-color:rgb(95, 6, 178); */
    background-color:#3B7197;
    display: flex;
    flex-direction: column;
    align-items: center;


}

#login img{
    
    width: 20%;
    background-color: transparent;


}

#login a{

    text-decoration: none;
    color: #fff;
    font-weight: 100;

}

#usern{
    width: 20vw;
    height: 3vw;
    /* background-color:rgba(217, 163, 163, 0.768); */
    background-color: #fff;
    margin: 3vw;
    position: relative;
    display: flex;
    /* color: #fff; */
    
}

.uimg{

    width: 4vw;
    height: 3vw;
    background-color:#74BDE0;
    position: absolute;
    right: 0%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.uimg i{

    font-size: 20px;
    color: #000;
}
.name{

    border-radius: 5%;
    width:14vw;
    border: none;
    background-color:transparent;
    resize: none;
    outline: none;
    padding: 0 3vw;
    /* color: #fff; */
}

#userp{
    width: 20vw;
    height: 3vw;
    /* background-color:rgba(217, 163, 163, 0.768); */
    background-color: #fff;
    position: relative;
    display: flex;
    
    
}
#abc{

    font-size: 1vw;
    padding: 2vw 0;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

#lgn{
    width: 20vw;
    height: 3vw;
   background-color: #A1E1FA;
    border-radius: 5%;
    box-shadow: 3 3 5;
    font-size: 1.5vw;
    border: none;
    resize: none;
    outline: none;
    color: #000;
}

#sgn{
    width: 20vw;
    height: 3vw;
    /* background-color:transparent; */
    background-color: #A1E1FA;
    border-radius: 5%;
    margin: 2vw;
    font-size: 1.5vw;
    border:2px solid #A1E1FA ;
    resize: none;
    outline: none;
    color:#000;



}


@media screen and (max-width: 500px)
{
      
    #login{

        width: 70%;
        height: 50%;
    }
#login a{

    font-size:5vw;
} 

#usern{

    width: 40vw;
    height: 5vw;
    margin: 8vw;
}

.uimg{

    width: 7vw;
    height: 5vw;

}
.name{

    width: 33vw;
}
#userp{

    width: 40vw;
    height: 5vw;
  
}
.uimg a i{

    font-size: 10px;
}

#abc{

    padding: 3vw 0 ;
}

#lgn{

    width: 40vw;
    height: 5vw;
    margin: 3vw;
    font-size: 3vw;

}
#sgn{

    width: 40vw;
    height: 5vw;
    margin: 3vw;
    font-size: 3vw;

}




}